@font-face {
  font-family: 'Segoe UI';
  src: url('/css/fonts/seguisym.ttf') format('truetype');
}

body { 
    background: linear-gradient(to bottom, #bccff2, rgb(66, 66, 109)); 
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif
}

