html, body {
    height: 100%;
    margin: 0;
}

body { 
    background: linear-gradient(to top, darkblue, blue); 
    background-attachment: fixed;
    color: white; 
    font-family: 'Press Start 2P' 
}

h2, h3, p {
    padding-left: 1vw
}

hr {
    margin: 1.8vh
}

h1 { 
    color: white; 
    text-align: center;
}

h2 { 
    font-size: 24px; 
    color: cyan;
}

p { 
    color: #e6e6e6;
}

a {
    color: #bccff2 
}

strong {
    color: yellow
    
}

hr {
    opacity: 0.5;
}

.topbar {
    top: 0;
    left: 0;
    width: auto;
    padding: 8px;
    border: 0px solid black;
    margin: 0px;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .topbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4px;
    }

    .topbar .left,
    .topbar .right {
        white-space: wrap;
    }
}
.container {
    border: 12px solid cyan;
    margin: 12px;
    background-color: blue;
    border-style: ridge;
    display: block;
    width: 70%;
    margin: auto;
    overflow-wrap: anywhere;
    box-shadow: 10px 10px darkblue;
}

.button {
    border: 12px solid red;
    margin: auto;
    background-color: RED;
    display: block;
    width: fit-content;
    overflow-wrap: anywhere;
    box-shadow: 10px 10px darkred;
    color: white;
    text-decoration: none;
    user-select: none;
}

.button:active {
    color: darkgray;
    border: 12px solid darkred;
    background-color: darkred;
    box-shadow: none;
    transform: translate(11px, 11px)
}

.glowbert {
    width: 200px;
    height: auto;
    animation: spin 5s linear infinite;
}

.centered {
    margin: 0;
    padding-left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.glowbert-img {
    display: block;
    margin: auto;
    width: 30dvh;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.uppercase {
    text-transform: uppercase;
}

.song-indicator {
    opacity: 0.67;
    margin-top: 0px
}

#song-indicator {
    margin: 10px;
    margin-left: auto;
    font-size: 12px
}